body { background: #f8f9fa; }
img { max-width: 100%; }
/* Make carousel arrows visible */
.custom-arrow {
  background-color: rgba(0, 0, 0, 0.5); /* dark semi-transparent background */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 50%, 50%;
}

/* Optional: Image styling */
.top-selling-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.top-selling-img:hover {
  transform: scale(1.05);
}
.nav-link, .nav-link:hover{
    color:black !important;
}
.nav-link .active{
    color:gray
}
.bg-dark-nav{
    background-color: #fefefe;
}

/* Or dark hamburger icon for light navbar */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
